#breadcrumbs {
    padding: 20px;
}
#breadcrumbs li {
    display: inline-block;
}
#breadcrumbs li+li:before {
    content: '> ';
}
#breadcrumbs li.attribute:before {
    content: '';
}

#breadcrumbs li.attribute a {
  color: gray;
}
#breadcrumbs li.attribute::after {
  content: "*";
  color: red;
  font-size: 16px;
}